.forecasts__root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.forecast-item__root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;

  color: #333333;
}

@media screen and (min-width: 768px) {
  .forecasts__root {
    position: absolute;
    right: 1em;
    top: 50%;
    background: #fff;
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.forecast-item__forecast {
  display: flex;
  align-items: center;
}

.forecast-item__icon {
  width: 1.5em;
  text-align: right;
}