@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #root {
    flex-direction: row;
  }
}
